@use '../../responsive/' as *;

.wraper_header {
  height: var(--default-layout-header-height);
  width: 100%;
  background-color: #070707;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mobile{
    // display: none;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  img {
    height: 100%;
    width: 100px;
    border-radius: 10px;

    @include mobile{
      zoom: 0.5;
    }
  }

  
}

.menu {
  display: flex;

  li {
    font-size: 14px;
    font-weight: 600;
    padding: 10px 20px;
    color: var(--white-color);
    cursor: pointer;

    &:hover {
      background-color: var(--hover-color);
    }

  }
  @include mobile{
    display: none;
  }
}

.search {
  width: 600px;

  input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 14px;
    background-color: transparent;
    color: var(--white-color);
    border-bottom: 2px solid var(--white-color);
  }

  @include mobile {
    display: none;
  }

  @include tablet{
    width: 300px;
  }
}

.search_icon {
  color: var(--primary-color);
  cursor: pointer;
  font-size: 20px;

  &:hover {
    color: var(--secondary-color);
  }
}

.icon-nav{
  @include mobile{
    zoom: 0.6;
  }

  @include tablet{
    zoom: 0.6;
  }
}

.wraper_list {
  width: 100%;
  overflow-y: hidden auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .wraper_item {
    width: 200px;
    height: 80px;
    margin: 10px 4px;

    @include mobile{
      zoom: 0.6;
    }

    .btn_item{
        width: 100%;
        height: 100%;
        text-transform: capitalize;
        color: var(--white-color);
        background-color: #070707;

        @include mobile{
          min-width: 150px;
          height: 60px;
        }
    }
  }

  @include mobile{
    width: 100vw;
    overflow: auto;
    flex-shrink:inherit;
  }
}
